extends templates/layout


block content
  header.header
    section.header__column
      .logo
        a(href="#") GitHub
      ul.nav--main
        a(href="#")
          li.nav--main__item Personal
        a(href="#")
          li.nav--main__item Open source
        a(href="#")
          li.nav--main__item Business
        a(href="#")
          li.nav--main__item Explore
    section.header__column
      .btn-group
        a(href="#")
          button.btn.btn--normal Sign in
        a(href="#")
          button.btn.btn--green Sign up
      form(action="", method="post")
        input(type="text" placeholder="Search GitHub")  
      ul.nav--sub
        a(href="#")
          li.nav--sub__item Pricing
        a(href="#")
          li.nav--sub__item Blog
        a(href="#")
          li.nav--sub__item Support
  main.main
    section.sign-wrapper
      .sign-container
        .sign__left
          p How people build software
          p Millions of developers use GitHub to build personal projects, support their businesses, and work together on open source technologies.
        .sign__right
          input(type="text" placeholder="Pick a username")
          input(type="email" placeholder="Your email address")
          input(type="password" placeholder="Create a password")
          p Use at least one letter, one numeral, and seven characters.
          button.btn.btn--green(type="submit") Sign up for GitHub
          p By clicking "Sign up for GitHub", you agree to out terms of service and privacy policy. We'll occasionally send you account related emails.
  footer.footer