extends templates/layout

block content
  header.header
    section.header__left
      a.logo(href="#")
        img(src="https://heropcode.github.io/GitHub-Responsive/img/logo.svg", alt="")
      ul
        li
          a(href="#") Personal
        li
          a(href="#") Open source
        li
          a(href="#") Business
        li
          a(href="#") Explore
    section.header__right
      ul
        li
          a(href="#") pricing
        li
          a(href="#") Blog
        li
          a(href="#") Support
      input(type="text", name="search", placeholder="Search GitHub")
      button Sign in
      button Sign up
