extends templates/layout


block content
  header.header
    section.header__column
      .logo
        a(href="#") GitHub
      ul.nav--main
        a(href="#")
          li.nav--main__item Personal
        a(href="#")
          li.nav--main__item Open source
        a(href="#")
          li.nav--main__item Business
        a(href="#")
          li.nav--main__item Explore
    section.header__column
      .btn-group
        a(href="#")
          button.btn.btn--normal Sign in
        a(href="#")
          button.btn.btn--green Sign up
      form(action="", method="post")
        input(type="text" placeholder="Search GitHub")  
      ul.nav--sub
        a(href="#")
          li.nav--sub__item Pricing
        a(href="#")
          li.nav--sub__item Blog
        a(href="#")
          li.nav--sub__item Support
  main.main
    section.sign-wrapper
      .sign-container
        .summary
          p.summary__title How&nbsp;people build&nbsp;software
          p.summary__description Millions of developers use GitHub to build personal projects, support their businesses, and&nbsp;work together on open source technologies.
        form(action="#" method="POST" id="jsForm")
          ul
            li
              input(type="text" placeholder="Pick a username")
            li
              input(type="email" placeholder="Your email address")
            li
              input(type="password" placeholder="Create a password")
              p.caption Use at least one letter, one numeral, and seven characters.
            li
              button.btn.btn--green(type="submit") Sign up for GitHub
              p By clicking "Sign up for GitHub", you agree to out terms of service and privacy policy. We'll occasionally send you account related emails.
    section.video-container
      p.video__title Welcome home, developers
      p.video__content GitHub fosters a fast, flexible, and collaborative development process that lets you work on your own or with others.
      video(src="#")  
    section.grid-container
      .grid__column
        img(src="", alt="")
        p.title For everything you build
        p.content Host and menage your code on GitHub.
        p.content You can keep your work private or share it with the world.
      .grid__column
        img(src="", alt="")
        p.title A better way to work
        p.content From hobbyists to professionals, GitHub helps developers simplify the way they build software.
      .grid__column
        img(src="", alt="")
        p.title Millions of projects
        p.content GitHub is home to millions of open source projects. Try one out or get inspired to create your own.
      .grid__column
        img(src="", alt="")
        p.title One platform, from start to finish
        p.content With hundreds of integrations, GitHub is flexible enough to be at the center of your development process.
    section.map-container
      p.title Where is GitHub?
      p.content GitHub is where people build software. More than 18 million people use GitHub to discover, fork, and contribute to over 48 million projects.
      .map
  footer.footer
    section.sign
      .btn
        a(href="#")
          button Sign up for GitHub
      .content
        p Public projects are always free. Work together across unlimited private repositories for $7 / month.
    nav.menu
      ul.menu__column
        li &copy;2016 GitHub, Inc.
        a(href="#")
          li Terms
        a(href="#")
          li Privacy
        a(href="#")
          li Security
        a(href="#")
          li Status
        a(href="#")
          li Help
      .logo
      ul.menu__column
        a(href="#")
          li Contact GitHub
        a(href="#")
          li API
        a(href="#")
          li Training
        a(href="#")
          li Shop
        a(href="#")
          li Blog
        a(href="#")
          li About